$font:'Cuprum', sans-serif;
$font-title: 'Fira Sans Extra Condensed', sans-serif;
$font-two: 'Source Sans Pro', sans-serif;

// width
$width-sm: 576px;
$iphone6-landscape: 667px;
$plus6-landscape: 756px;
$width-md: 768px;
$iphonex-landscape: 812px;
$width-lg: 992px;
$ipad-height: 1024px;
$pc-width: 1224px;
$pro-height: 1366px;