.viber {
	background: darken(#bfef77, 10%);
	padding: 20px;
	color: #fff;
	text-align: center;
	&__title {
		font-size: 3rem;
		margin-bottom: 10px;
		@media (max-width: $width-lg) {
			font-size: 2rem;
		}
		@media (max-width: 414px) and (max-height: $iphonex-landscape + 30px) {
			font-size: 1.5rem;
		}
		&-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&__desc {
		opacity: .8;
		font-style: italic;
	}
	&__img {
		&-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				@media (max-width: $width-lg) {
					width: 200px;
				}
				@media (max-width: 414px) and (max-height: $iphonex-landscape + 30px) {
					width: 100px;
				}
				@media (max-height: 375px) and (max-width: $width-md) {
					width: 100px;
				}
			}
		}
	}
	&__button {
		padding: 10px 40px;
		background: transparent;
		color: #fff;
		font-family: $font-title;
		font-size: 2.5rem;
		text-transform: uppercase;
		font-weight: 700;
		border-radius: 20px;
		text-decoration: none;
		@media (max-width: $width-lg) {
			font-size: 2rem;
		}
		@media (max-width: 414px) and (max-height: $iphonex-landscape + 30px) {
			font-size: 1.5rem;
		}
		&:hover {
			color: #bfef77;
			text-decoration: none;
			background: #fff;
		}
	}

}
